.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #000;
}

.desk {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1500px;
  height: 800px;
  margin-left: -750px;
  margin-top: -400px;
  will-change: transform;
}

.desk-surface {
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  border: 6px solid #ff0;
  position: relative;
  box-shadow: 0 0 0 12px #f0f, 0 0 0 18px #00f;
}
