.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.desk {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1500px;
  height: 800px;
  margin-left: -750px;
  margin-top: -400px;
  will-change: transform;
}

.desk-surface {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 4px solid #000;
  position: relative;
  box-shadow: 12px 12px 0 #000;
}
