/* Global styles */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Allow selection in text inputs and textareas */
input, textarea {
  -webkit-user-select: text;
  user-select: text;
  touch-action: auto;
}
